body {
    background-color: #fc3;
    color: #333;
}

body#idClassPage{
    background-color: white;
}

h1 {
    font-size: 50px;
    font-family: Helvetica, Aerial, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: Georgia, Times, serif;
}

p {
    font-size: 18px;
    font-style:italic;
}

ol {
    margin: 20px;
    padding: 20px;
    color: white;
}


/*Styles for ID & Class lecture*/

h1#main-heading{
    color: red;
    background: black;
    padding: 10px;
    margin: 20px;
    font-size: 18px;
}

.sectionHeading{
    color: deeppink;
    border: solid 1px blue;
    padding: 40px 20px 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    
}

/*Sttyles for Descendannt Selector lecture*/

.primary-section{
    background-color: white;
    border: solid 10px black;
    padding 20px;
    
}

.primary-section h2{
    font-family: Helvetica, Arial, sans-serif;
}

.secondary-section{
    background-color: #333;
    color: aqua;
    padding: 10px;
    
}

.secondary-section p{
    font-size: 14px;
    font-style: normal;
    
}

.secondary-section p em{
    color: white;

}

/* Styles for Grouping Selector lecture */ 

#mainContainer{
    width: 960px;
    margin: 0 auto;
}

.primary-section, .secondary-section{
    margin: 30px 20px;
}

.inside-section{
    border: 1px solid black;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    border-bottom: 2px solid red;
    padding: 0  0 10px;
}


